<!--=================================
 Slider
 =================================-->
		<section id="home" class="">
			<div id="home-slider" class="flexslider">
		    	<ul class="slides">
		        	<li>
						<%= image_tag('slider/slide-01.jpg') %>
		                <div class="flex-caption">
		                	<h1 class="animated">Great Branding is a Unforgetable experience</h1>
		                	<p class="animated">There's No Limit to What CrowdFlower Can Do - Just Ask Our Customers</p>
		                	<ul class="flex-buttons">
								<li><%= link_to 'Sign Up', signup_path %></li>
								<li><%= link_to 'Sign In', login_path %></li>
		                    	<!--<li><a href="#">Sign Up</a></li> -->
		                    	<!--<li><a href="#">Sign In</a></li>-->
		                    </ul><!-- end ul flex-buttons -->
		                </div><!-- end flex-caption -->   
		            </li><!-- end li -->
		            <li>
						<%= image_tag('slider/slide-02.png') %>
		                <div class="flex-caption">
		                	<h1 class="animated">Great Branding is a Unforgetable experience</h1>
		                	<p class="animated">There's No Limit to What CrowdFlower Can Do - Just Ask Our Customers</p>
		                	<ul class="flex-buttons">
								<li><%= link_to 'Sign Up', signup_path %></li>
								<li><%= link_to 'Sign In', login_path %></li>
		                    </ul><!-- end ul -->
		                </div><!-- end flex-caption -->     
		            </li><!-- end li -->    
		            <li>
						<%= image_tag('slider/slide-03.png') %>
		                <div class="flex-caption">
		                	<h1 class="animated">Great Branding is a Unforgetable experience</h1>
		                	<p class="animated">There's No Limit to What CrowdFlower Can Do - Just Ask Our Customers</p>
		                	<ul class="flex-buttons">
								<li><%= link_to 'Sign Up', signup_path %></li>
								<li><%= link_to 'Sign In', login_path %></li>
		                    </ul><!-- end ul -->
		                </div><!-- end flex-caption -->
		            </li><!-- end li -->  
		        </ul><!-- end ul slides -->      
		    </div><!-- end home-slider--> 
		</section><!-- end section home -->
<!--=========================================
	Service
  ========================================-->  
		<section id="service-wrappper">
			<div class="container">
		        <div class="row">
		            <div class="col-lg-3 col-md-3 col-sm-3">
		                <div class="service">
		                    <div class="service-visual service-hover-a service-hover">
		                        <span class="service-icon icon-desktop"></span>
		                    </div><!-- end service-visual service-hover -->
		                    <div class="head">
		                        Flat Design
		                    </div><!-- end head -->
		                    <p>That is why our micro-campaigns and solutions are individually crafted for each of our clients.</p>
		                </div><!-- end service -->
		            </div><!-- end cols-->
            
		            <div class="col-lg-3 col-md-3 col-sm-3">
		                <div class="service">
		                	<div class="service-visual service-hover-a service-hover">
		                        <span class="service-icon icon-tablet"></span>
		                    </div><!-- end service-visual service-hover -->
                    
		                    <div class="head">
		                        USER EXPERIENCE
		                    </div><!-- end head -->
		                    <p>We understand your story is unique. That is why our micro-campaigns and solutions are</p>
		                </div><!-- end cols -->
		            </div><!-- end cols-->
            
            
		            <div class="col-lg-3 col-md-3 col-sm-3">
		                <div class="service">
		                    <div class="service-visual service-hover-a service-hover">
		                        <span class="service-icon icon-file-alt"></span>
		                    </div><!-- end service-visual service-hover -->
		                    <div class="head">
		                       Unlimted Colors
		                    </div><!-- end head -->
		                    <p>Converting pixel-perfect designs into functional web apps is an art. Coding</p>
		                </div><!-- end service -->
		            </div><!--end cols-->
            
            
		            <div class="col-lg-3 col-md-3 col-sm-3">
		                <div class="service">
		                    <div class="service-visual service-hover-a service-hover">
		                        <span class="service-icon icon-folder-open-alt"></span>
		                    </div>
		                    <div class="head">
		                        Easy to Use
		                    </div>
		                    <p>Brick and mortar selling is only half the battle. We understand the difference and offer user-friendly</p>
		                </div>
		            </div><!--service column--> 
		        </div><!-- end row -->
		    </div><!-- end container-->
		</section><!-- end section service wrapper-->
<!--=========================================
  showcase
  ========================================-->
		<section id="showcase-wrapper">
			<div class="container">
		    	<div class="section-heading-lg">
		        	Make the right first Impression
		        </div><!-- end section-heading-lg -->
		        <div class="showcase-text">
		        	<div class="row">
		            	<div class="col-lg-6 col-md-6 col-sm-6">
		                	<p>With Responsive and mobile design all the rage these days it is important to know whether visitors to your site are happy and how to detect whether they are happy across desktops, mobiles and tablets.</p>
		                </div><!-- end of cols-->    
		                <div class="col-lg-6 col-md-6 col-sm-6">
		                	<p>Now before I show you how to do a 30 second check on this, firstly a quick pointer. It is imperative not to use this method solely as a reason to change your site around. It’s important to dig deeper into stats to measure satisfaction of users. </p>
		                </div><!-- end of cols -->         
		            </div><!-- end of row -->       
		            <div class="row">
		            	<div class="col-lg-6 col-md-6 col-sm-6">
		                	<div class="showcase-links-left"><a href="#">Learn More</a></div>
		                </div><!-- end of cols -->   
		                <div class="col-lg-6 col-md-6 col-sm-6">
		                	<div class="showcase-links-right"><a href="#">Live Preview</a></div>
		                </div><!-- end of cols -->   
		            </div><!-- end of row -->
		        </div><!-- end showcase-text -->
		        <div class="clearfix"></div>
        
		        <div class="showcase-images">
					<%= image_tag('showcase/left.png') %>
					<%= image_tag('showcase/1.png') %>
					<%= image_tag('showcase/right.png') %>
		        </div><!-- end showcase-images -->
        
		    </div><!-- end container -->
		    <div class="promotion">
		        <div class="container">
		        	<div class="heading">Are you ready to Buy this Theme?</div>
		            <p>Lets face it, social media is tricky business in the wrong hands. </p>
		        	<div class="link"><a href="#">Only on Themeforest</a></div>
		        </div><!-- end container -->
		    </div><!-- end promotion --> 
		</section><!-- end showcase-wrapper -->
<!--=================================
 Blog
 =================================-->
		<section id="blog-wrapper">
		    <div class="section-heading"><a href="#">Latest From Ortax blog</a></div>
			<div class="blog-carousel">
    	
		        <article class="blog">
		        	<div class="blog-visual">
						<%= image_tag('blog/b1.jpg') %>
		            	<!--<img src="assets/img/blog/b1.jpg" alt="" />-->
		                <div class="blog-hover">
		                	<div class="hover-icons animated ">
		                    	<span class="icon-search"></span>
		                    </div><!-- end hover-icons animated -->
		                </div><!-- end blog-hover -->
		            </div><!-- end blog-visual -->
		            <a href="#" class="head">Should You Spend Money for a Mention?</a>
		            <ul>
		            	<li>22 comments</li>
		                <li>09th July 2013</li>
		            </ul>
		            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
		        </article>
		        <!--\\blog-->
        
        
		        <article class="blog">
		        	<div class="blog-visual">
						<%= image_tag('blog/b2.jpg') %>
		            	<!--<img src="assets/img/blog/b2.jpg" alt="" />-->
		                <div class="blog-hover">
		                	<div class="hover-icons animated ">
		                    	<span class="icon-search"></span>
		                    </div><!-- end hover-icons animated -->
		                </div><!-- end blog-hover -->
		            </div><!-- end blog-visual -->
		            <a href="#" class="head">It is a long established fact that a reader will be</a>
		            <ul>
		            	<li>22 comments</li>
		                <li>09th July 2013</li>
		            </ul>
		            <p>I’m never one to turn down a bit of shopping, so I am thrilled</p>
		        </article>
		        <!--\\blog-->
        
        
        
		        <article class="blog">
		        	<div class="blog-visual">
						<%= image_tag('blog/b3.jpg') %>
		            	<!--<img src="assets/img/blog/b3.jpg" alt="" />-->
		                <div class="blog-hover">
		                	<div class="hover-icons animated ">
		                    	<span class="icon-search"></span>
		                    </div><!-- end hover-icons animated -->
		                </div><!-- end blog-hover -->
		            </div><!-- end blog-visual -->
		            <a href="#" class="head">We Are Pixel8 Sighting<BR><BR></a>
		            <ul>
		            	<li>22 comments</li>
		                <li>09th July 2013</li>
		            </ul>
		            <p>Happy Valentine’s Day. Here’s a little LoveHate print from Blanca Gomez. You’re welcome.</p>
		        </article>
		        <!--\\blog-->
        
        
        
		        <article class="blog">
		        	<div class="blog-visual">
						<%= image_tag('blog/b4.jpg') %>
		            	<!--<img src="assets/img/blog/b4.jpg" alt="" />-->
		                <div class="blog-hover">
		                	<div class="hover-icons animated ">
		                    	<span class="icon-search"></span>
		                    </div><!-- end hover-icons animated -->
		                </div><!-- end blog-hover -->
		            </div><!-- end blog-visual -->
		            <a href="#" class="head">Why Writing Guest Articles is a No-Brainer</a>
		            <ul>
		            	<li>22 comments</li>
		                <li>09th July 2013</li>
		            </ul>
		            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
		        </article>
		        <!--\\blog-->
        
        
		        <article class="blog">
		        	<div class="blog-visual">
						<%= image_tag('blog/b5.jpg') %>
		            	<!--<img src="assets/img/blog/b5.jpg" alt="" />-->
		                <div class="blog-hover">
		                	<div class="hover-icons animated ">
		                    	<span class="icon-search"></span>
		                    </div><!-- end hover-icons animated -->
		                </div><!-- end blog-hover -->
		            </div><!-- end blog-visual -->
		            <a href="#" class="head">We Are Pixel8 Releases BOLSA</a>
		            <ul>
		            	<li>22 comments</li>
		                <li>09th July 2013</li>
		            </ul>
		            <p>Receiving the grant will allow us to keep costs low for our lovely clients, so please cast a vote.</p>
		        </article>
		        <!--\\blog-->
        
        
        
		        <article class="blog">
		        	<div class="blog-visual">
						<%= image_tag('blog/b6.jpg') %>
		            	<!--<img src="assets/img/blog/b6.jpg" alt="" />-->
		                <div class="blog-hover">
		                	<div class="hover-icons animated ">
		                    	<span class="icon-search"></span>
		                    </div><!-- end hover-icons animated -->
		                </div><!-- end blog-hover -->
		            </div><!-- end blog-visual -->
		            <a href="#" class="head">There are many variations of passages of Lorem</a>
		            <ul>
		            	<li>22 comments</li>
		                <li>09th July 2013</li>
		            </ul>
		            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
		        </article>
		        <!--\\blog-->
        
        
		        <article class="blog">
		        	<div class="blog-visual">
						<%= image_tag('blog/b3.jpg') %>
		                <div class="blog-hover">
		                	<div class="hover-icons animated ">
		                    	<span class="icon-search"></span>
		                    </div><!-- end of hover-icons animated -->
		                </div><!-- end of blog-hover-->
		            </div><!-- end of blog-visual -->
		            <a href="#" class="head">Should You Spend Money for a Mention?</a>
		            <ul>
		            	<li>22 comments</li>
		                <li>09th July 2013</li>
		            </ul><!-- end ul -->
		            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
		        </article>
		        <!--\\blog-->
        
        
        
		        <article class="blog">
		        	<div class="blog-visual">
						<%= image_tag('blog/b2.jpg') %>
		                <div class="blog-hover">
		                	<div class="hover-icons animated ">
		                    	<span class="icon-search"></span>
		                    </div><!-- end hover-icons animated -->
		                </div><!-- end of blog-hover -->
		            </div><!-- end blog-visual -->
		            <a href="#" class="head">Should You Spend Money for a Mention?</a>
		            <ul>
		            	<li>22 comments</li>
		                <li>09th July 2013</li>
		            </ul><!-- end of ul -->
		            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
		        </article><!-- end of article blog -->
		        <!--\\blog-->
        
        
        
		    </div><!-- end blog-carousel -->
		    <div id="blog-carousel-pagination" class="carousel-pagination"></div>
		</section><!-- end section blog-wrapper-->
<!--=================================
 Testimonial
 =================================-->
		<section id="testimonial-wrapper">
		    <div class="container">
		    	<div class="section-heading">What Our Client Say</div>
		        <div class="section-subheading">We love hearing from our clients</div>
		        <div class="testi-holder">
        	
		            <div id="testimonial-carousel" class=" flexslider">
		            	<ul class="slides">
                
		                	<li>
		                    	<div class="row">
		                        	<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-md-offset-1">
		                                <article class="testimonial">
		                                    <div class="quots"><span class="icon-quote-left"></span></div>
		                                    <p>As a creative, ortax excels in translating messaging into relevant visual branding for web, social and print. No matter the client, ortax designs have always told effective stories.</p>
                                    
		                                    <a href="#">- Fernando Delegado</a>
		                                    <div class="quots"><span class="icon-quote-right"></span></div>
		                                </article><!--\\testimonial-->
		                            </div><!-- end of col div -->
		                        </div>
		                    </li>
                    
		                    <li>
		                    	<div class="row">
		                        	<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-md-offset-1">
		                                <article class="testimonial">
		                                    <div class="quots"><span class="icon-quote-left"></span></div>
		                                    <p>As a creative, ortax excels in translating messaging into relevant visual branding for web, social and print. No matter the client, ortax designs have always told effective stories.</p>
                                    
		                                    <a href="#">- Fernando Delegado</a>
		                                    <div class="quots"><span class="icon-quote-right"></span></div>
		                                </article><!--\\testimonial-->
		                            </div><!-- end of cols -->
		                        </div><!-- end of row-->
		                    </li>
                    
                    
		                    <li>
		                    	<div class="row">
		                        	<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-md-offset-1">
		                                <article class="testimonial">
		                                    <div class="quots"><span class="icon-quote-left"></span></div>
		                                    <p>As a creative, ortax excels in translating messaging into relevant visual branding for web, social and print. No matter the client, ortax designs have always told effective stories.</p>
                                    
		                                    <a href="#">- Fernando Delegado</a>
		                                    <div class="quots"><span class="icon-quote-right"></span></div>
		                                </article><!--\\testimonial-->
		                            </div><!-- end of cols -->
		                        </div><!-- end of row -->
		                    </li>    
		                </ul><!-- end of ul slides -->
		            </div><!-- end of testimonial carousel -->   
		        </div><!-- end of testi-holder -->
		    </div><!--end of container -->
		</section><!-- end of section testimonial-wrapper -->
<!--=================================
 promo-line
 =================================-->
		<section id="promo-line" class="parallax">
		    <div class="container">
		        <div class="row">
		             <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-md-offset-1">
                                  
		                <h4>Ortax help companies succeed by connecting with audiences and building handcrafted websites to deliver extraordinary results</h4>
		                <div class="link"><a href="#">Only on Themeforest</a></div>
		             </div><!-- end cols -->
		        </div><!-- end row -->
		    </div><!-- end of container -->
		</section><!-- end of section promo-line -->
<!--=================================
 Latest feeds
 =================================-->
		<section id="feeds-wrapper">
		  <div class="container">	
		  		<div class="row">
		        	<div class="col-lg-4 col-md-4 col-sm-4 makeitfade">
		            	<div class="head">About Ortax</div>
		                <div class="about-short">
		                	<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
		                </div><!-- about-short -->
		            </div><!-- end cols -->
            
		            <div class="col-lg-4 col-md-4 col-sm-4 makeitfade">
		            	<div class="head">Ortax News</div>
		                <div class="latest-blog">
		                    <div class="latest-post">
		                        <div class="post-date">
		                            <div data-hover="24" class="date">24</div>
		                            <div class="month">July</div>
		                        </div><!-- end post-date -->
		                        <div class="detail">
		                            <a href="#" class="title">Praesent dapibus, neque id cursus</a>
		                            <p>Faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>
		                        </div><!-- end detail -->
		                    </div><!-- end latest-blog -->
               
		                    <div class="latest-post">
		                        <div class="post-date">
                        
		                            <div data-hover="17" class="date">17</div>

		                            <div class="month">May</div>
		                        </div>
		                        <div class="detail">
		                            <a href="#" class="title">Praesent dapibus, neque id cursus</a>
		                            <p>Faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>
		                        </div>
		                    </div><!-- end latest-post -->
		                 </div><!-- end latest-blog -->
		            </div><!-- end cols -->
            
		            <div class="col-lg-4 col-md-4 col-sm-4 makeitfade">
		            	<div class="head">Photostream @ortax</div>
		                <div class="flicker-holder">
		                	<ul class="flicker"></ul>
		                </div><!-- end flickr-holder -->
		            </div><!-- end cols -->  
		        </div><!-- end row -->
		  </div><!-- end of container -->
		</section><!-- end section feeds-wrapper -->
<!--=================================
 Contact
 =================================-->
		<section id="contact-wrapper">
			<div class="container">
		    	<div class="section-icon"><span class="icon-envelope-alt"></span></div>
		    	<div class="section-heading">Contact Ortax</div>
		        <div class="section-subheading">Want to work with us or just want to say hello? Call us at (323) 205-6876.</div>
				<div class="response-message">
					<div class="section-heading-lg">
						Thank you for contacting us
					</div><!-- end section-heading-lg -->
				</div><!-- end response-message -->
				<div class="response-errors">
					<a href="#" class="section-heading"></a>
				</div><!-- end response-errors -->
		        <form id="contact-form" action="send-email.php" method="POST">
		            <div class="row">
		            	<div class="col-lg-3 col-md-3 col-sm-3">
		                	<input name="contact_name" id="contact_name" type="text" placeholder="Name" />
		                </div><!-- end cols -->
		                <div class="col-lg-3 col-md-3 col-sm-3">
		                	<input name="contact_email" id="contact_email" type="text" placeholder="Email" />
		                </div><!-- end cols -->
                
		                <div class="col-lg-3 col-md-3 col-sm-3">
		                	<textarea name="contact_message" id="contact_message" placeholder="Message"></textarea>
		                </div><!-- end cols -->
                
		                <div class="col-lg-3 col-md-3 col-sm-3">
		                	<button type="submit"><span class="send-icons"><span class="send-text">Throw it!</span></span></button>
		                </div><!-- end cols -->
		            </div><!-- end row -->
		        </form><!-- end form -->
		    </div><!-- end container -->  
		</section><!-- end section contact-wrapper-->
<!--=================================
 Map
 =================================-->
		<section id="our-location">
			<div class="container">
				<div class="section-heading">On the Map</div>
		    </div><!-- end container -->
			<div id="contact-map"></div>
		</section> <!-- end section our-location -->