<div class="row">
	<h1 class='sign'>Sign in to start scheduling all the events in your app.</h1>
    <div class="span6 offset3 snogin">
		<div class='row'>
	        <%= form_for @user, id: 'signup-form' do |f| %>
			    <div class='span6'>
			    	<%= render 'error_messages' %>
			    </div>
	            <div class='span6'>
	            	<%= f.text_field :f_name, placeholder: 'First Name', class: "span6" %>
	            </div>
	            <div class='span6'>
	            	<%= f.text_field :l_name, placeholder: 'Last Name', class: "span6" %>
	            </div>
	            <div class='span6'>
	            	<%= f.text_field :email, placeholder: 'Email', class: "span6" %>
	            </div>
	            <div class='span6'>
	            	<%= f.password_field :password, placeholder: 'Password', class: "span6" %>
	            </div>
	            <div class='span6'>
	            	<%= f.password_field :password_confirmation, placeholder: 'Re-type Password', class: "span6" %>
	            </div>
				<div class='span6'>
					<button class="btn btn-hg btn-primary">
					  Sign Up!
					</button>
				</div>
	        <% end %>
		</div>

    </div><!-- end span4 offset4-->
</div><!-- end of row -->
