<% carlos = ['new', 'create'].include?(@current_action) %>
<div class='row'>
	<div class='span6'>
		<%= form_for [@user, @app] do |f| %>
		<%= render 'shared/flash_messages' %>
		<div class='row'>
			<div class='span4'>
				<%= f.text_field :name, placeholder: 'Application Name', class: 'span4' %>
			</div>
			
			<div class='span4'>
				<%= f.text_field :url, placeholder: 'Application Url', class: 'span4' %>
			</div>
			<div class='span4'>
				<button class="btn btn-hg btn-primary" style='width:100%;'>
					<%= ['new', 'create'].include?(@current_action) ? 
						'Create Application' : 
						'Update Application' 
					%>
				</button>
			</div>
		</div>
		<% end %>
	</div>
</div>