<header class='navbar navbar-fixed-top'>
	<div class='navbar-inner' id='stop'>
		<div class='container'>
			<div class='navbar-header'>
				<button type='button' 
					class='btn btn-navbar' 
					data-toggle='collapse' 
					data-target='#nav-collapse-01'>
				</button>
			</div>
			<div class='brand'>
				<%= link_to 'Snedit', '#' %>
			</div>
			<div class='nav-collapse collapse' id='nav-collapse-01'>
				<ul class='nav pull-right'>
					<% if current_user %>
						<li class='active'>
		                    <%= link_to 'Sign Out', logout_path, 
		                         method: :delete, 
		                         confirmation: "Are you sure" 
		                    %>
						</li>
					<% else %>
						<li class='active'><%= link_to 'Sign Up', signup_path %></li>
						<li class='active'><%= link_to 'Sign in', login_path %></li>
					<% end %>
					<li class='active'>
						<% if current_user %>
							<%= link_to 'Developer Portal', user_apps_path(@user) %>
						<% end %>
					</li>
					<li></li>
				</ul>
			</div><!-- nav-collapse-->
		</div><!-- container-->
	</div><!-- navbar-inner -->
</header>